html {
  background: #231f20;
  font-family: freightsans_problack;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

#hdrInfo {
    color: #403f3e;
    font-size: 24px;
}